body {
  background-color: #696969; }

.container {
  vertical-align: middle; }

#game-box {
  background-color: #4B0082;
  width: 500px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%; }

.shape-container {
  cursor: pointer;
  height: 150px;
  perspective: 600;
  position: relative;
  width: 100%;
  margin-bottom: 10px; }

.shape {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%; }

.shape.active {
  transform: rotateY(180deg); }

.shape .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
  background: yellowgreen; }

.shape .back {
  background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
  font-size: 100px;
  vertical-align: middle; }

.shape .back i {
  margin-top: 10px; }

.matched {
  visibility: hidden; }

.win {
  color: green;
  display: none;
  text-align: center; }

.win.active {
  display: block; }
